<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="true"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="User">
            <directory>./UserTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
